<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxjr.message.dao.LogSmsClientMapper" >
  <resultMap id="BaseResultMap" type="com.sxjr.message.model.LogSmsClient" >
    <id column="smsId" property="smsid" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="templetId" property="templetid" jdbcType="VARCHAR" />
    <result column="smsPara" property="smspara" jdbcType="VARCHAR" />
    <result column="clientId" property="clientid" jdbcType="VARCHAR" />
    <result column="conduitId" property="conduitid" jdbcType="VARCHAR" />
    <result column="sendDate" property="senddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    smsId, phoneNumber, templetId, smsPara, clientId, conduitId, sendDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from log_smsclient
    where smsId = #{smsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from log_smsclient
    where smsId = #{smsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sxjr.message.model.LogSmsClient" >
    insert into log_smsclient (smsId, phoneNumber, templetId, 
      smsPara, clientId, conduitId, 
      sendDate)
    values (#{smsid,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, #{templetid,jdbcType=VARCHAR}, 
      #{smspara,jdbcType=VARCHAR}, #{clientid,jdbcType=VARCHAR}, #{conduitid,jdbcType=VARCHAR}, 
      #{senddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sxjr.message.model.LogSmsClient" >
    insert into log_smsclient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsid != null" >
        smsId,
      </if>
      <if test="phonenumber != null" >
        phoneNumber,
      </if>
      <if test="templetid != null" >
        templetId,
      </if>
      <if test="smspara != null" >
        smsPara,
      </if>
      <if test="clientid != null" >
        clientId,
      </if>
      <if test="conduitid != null" >
        conduitId,
      </if>
      <if test="senddate != null" >
        sendDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsid != null" >
        #{smsid,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="templetid != null" >
        #{templetid,jdbcType=VARCHAR},
      </if>
      <if test="smspara != null" >
        #{smspara,jdbcType=VARCHAR},
      </if>
      <if test="clientid != null" >
        #{clientid,jdbcType=VARCHAR},
      </if>
      <if test="conduitid != null" >
        #{conduitid,jdbcType=VARCHAR},
      </if>
      <if test="senddate != null" >
        #{senddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxjr.message.model.LogSmsClient" >
    update log_smsclient
    <set >
      <if test="phonenumber != null" >
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="templetid != null" >
        templetId = #{templetid,jdbcType=VARCHAR},
      </if>
      <if test="smspara != null" >
        smsPara = #{smspara,jdbcType=VARCHAR},
      </if>
      <if test="clientid != null" >
        clientId = #{clientid,jdbcType=VARCHAR},
      </if>
      <if test="conduitid != null" >
        conduitId = #{conduitid,jdbcType=VARCHAR},
      </if>
      <if test="senddate != null" >
        sendDate = #{senddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where smsId = #{smsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxjr.message.model.LogSmsClient" >
    update log_smsclient
    set phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      templetId = #{templetid,jdbcType=VARCHAR},
      smsPara = #{smspara,jdbcType=VARCHAR},
      clientId = #{clientid,jdbcType=VARCHAR},
      conduitId = #{conduitid,jdbcType=VARCHAR},
      sendDate = #{senddate,jdbcType=TIMESTAMP}
    where smsId = #{smsid,jdbcType=VARCHAR}
  </update>
</mapper>