<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxjr.message.dao.SysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.sxjr.message.model.SysConfig" >
    <id column="clientPhoneCount" property="clientphonecount" jdbcType="INTEGER" />
    <result column="clientPhoneTemplet" property="clientphonetemplet" jdbcType="INTEGER" />
    <result column="clientPhoneTimeSpan" property="clientphonetimespan" jdbcType="INTEGER" />
    <result column="clientBulk" property="clientbulk" jdbcType="INTEGER" />
    <result column="conduitPhoneSecond" property="conduitphonesecond" jdbcType="INTEGER" />
    <result column="conduitBulkSecond" property="conduitbulksecond" jdbcType="INTEGER" />
    <result column="conduitPhoneCount" property="conduitphonecount" jdbcType="INTEGER" />
    <result column="conduitPhoneRepeat" property="conduitphonerepeat" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    clientPhoneCount, clientPhoneTemplet, clientPhoneTimeSpan, clientBulk, conduitPhoneSecond, 
    conduitBulkSecond, conduitPhoneCount, conduitPhoneRepeat
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_config
    where clientPhoneCount = #{clientphonecount,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_config
    where clientPhoneCount = #{clientphonecount,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sxjr.message.model.SysConfig" >
    insert into sys_config (clientPhoneCount, clientPhoneTemplet, 
      clientPhoneTimeSpan, clientBulk, conduitPhoneSecond, 
      conduitBulkSecond, conduitPhoneCount, conduitPhoneRepeat
      )
    values (#{clientphonecount,jdbcType=INTEGER}, #{clientphonetemplet,jdbcType=INTEGER}, 
      #{clientphonetimespan,jdbcType=INTEGER}, #{clientbulk,jdbcType=INTEGER}, #{conduitphonesecond,jdbcType=INTEGER}, 
      #{conduitbulksecond,jdbcType=INTEGER}, #{conduitphonecount,jdbcType=INTEGER}, #{conduitphonerepeat,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sxjr.message.model.SysConfig" >
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientphonecount != null" >
        clientPhoneCount,
      </if>
      <if test="clientphonetemplet != null" >
        clientPhoneTemplet,
      </if>
      <if test="clientphonetimespan != null" >
        clientPhoneTimeSpan,
      </if>
      <if test="clientbulk != null" >
        clientBulk,
      </if>
      <if test="conduitphonesecond != null" >
        conduitPhoneSecond,
      </if>
      <if test="conduitbulksecond != null" >
        conduitBulkSecond,
      </if>
      <if test="conduitphonecount != null" >
        conduitPhoneCount,
      </if>
      <if test="conduitphonerepeat != null" >
        conduitPhoneRepeat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientphonecount != null" >
        #{clientphonecount,jdbcType=INTEGER},
      </if>
      <if test="clientphonetemplet != null" >
        #{clientphonetemplet,jdbcType=INTEGER},
      </if>
      <if test="clientphonetimespan != null" >
        #{clientphonetimespan,jdbcType=INTEGER},
      </if>
      <if test="clientbulk != null" >
        #{clientbulk,jdbcType=INTEGER},
      </if>
      <if test="conduitphonesecond != null" >
        #{conduitphonesecond,jdbcType=INTEGER},
      </if>
      <if test="conduitbulksecond != null" >
        #{conduitbulksecond,jdbcType=INTEGER},
      </if>
      <if test="conduitphonecount != null" >
        #{conduitphonecount,jdbcType=INTEGER},
      </if>
      <if test="conduitphonerepeat != null" >
        #{conduitphonerepeat,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxjr.message.model.SysConfig" >
    update sys_config
    <set >
      <if test="clientphonetemplet != null" >
        clientPhoneTemplet = #{clientphonetemplet,jdbcType=INTEGER},
      </if>
      <if test="clientphonetimespan != null" >
        clientPhoneTimeSpan = #{clientphonetimespan,jdbcType=INTEGER},
      </if>
      <if test="clientbulk != null" >
        clientBulk = #{clientbulk,jdbcType=INTEGER},
      </if>
      <if test="conduitphonesecond != null" >
        conduitPhoneSecond = #{conduitphonesecond,jdbcType=INTEGER},
      </if>
      <if test="conduitbulksecond != null" >
        conduitBulkSecond = #{conduitbulksecond,jdbcType=INTEGER},
      </if>
      <if test="conduitphonecount != null" >
        conduitPhoneCount = #{conduitphonecount,jdbcType=INTEGER},
      </if>
      <if test="conduitphonerepeat != null" >
        conduitPhoneRepeat = #{conduitphonerepeat,jdbcType=INTEGER},
      </if>
    </set>
    where clientPhoneCount = #{clientphonecount,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxjr.message.model.SysConfig" >
    update sys_config
    set clientPhoneTemplet = #{clientphonetemplet,jdbcType=INTEGER},
      clientPhoneTimeSpan = #{clientphonetimespan,jdbcType=INTEGER},
      clientBulk = #{clientbulk,jdbcType=INTEGER},
      conduitPhoneSecond = #{conduitphonesecond,jdbcType=INTEGER},
      conduitBulkSecond = #{conduitbulksecond,jdbcType=INTEGER},
      conduitPhoneCount = #{conduitphonecount,jdbcType=INTEGER},
      conduitPhoneRepeat = #{conduitphonerepeat,jdbcType=INTEGER}
    where clientPhoneCount = #{clientphonecount,jdbcType=INTEGER}
  </update>
</mapper>