<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxjr.message.dao.LogSysStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.sxjr.message.model.LogSysStatistics" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="startDate" property="startdate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="clientSmsCount" property="clientsmscount" jdbcType="INTEGER" />
    <result column="clientErrorCount" property="clienterrorcount" jdbcType="INTEGER" />
    <result column="conduitSmsCount" property="conduitsmscount" jdbcType="INTEGER" />
    <result column="conduitErrorCount" property="conduiterrorcount" jdbcType="INTEGER" />
    <result column="redisError" property="rediserror" jdbcType="INTEGER" />
    <result column="mysqlError" property="mysqlerror" jdbcType="INTEGER" />
    <result column="sysError" property="syserror" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, startDate, endDate, clientSmsCount, clientErrorCount, conduitSmsCount, conduitErrorCount, 
    redisError, mysqlError, sysError
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log_sysstatistics
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log_sysstatistics
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sxjr.message.model.LogSysStatistics" >
    insert into log_sysstatistics (Id, startDate, endDate, 
      clientSmsCount, clientErrorCount, conduitSmsCount, 
      conduitErrorCount, redisError, mysqlError, 
      sysError)
    values (#{id,jdbcType=INTEGER}, #{startdate,jdbcType=TIMESTAMP}, #{enddate,jdbcType=TIMESTAMP}, 
      #{clientsmscount,jdbcType=INTEGER}, #{clienterrorcount,jdbcType=INTEGER}, #{conduitsmscount,jdbcType=INTEGER}, 
      #{conduiterrorcount,jdbcType=INTEGER}, #{rediserror,jdbcType=INTEGER}, #{mysqlerror,jdbcType=INTEGER}, 
      #{syserror,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sxjr.message.model.LogSysStatistics" >
    insert into log_sysstatistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="clientsmscount != null" >
        clientSmsCount,
      </if>
      <if test="clienterrorcount != null" >
        clientErrorCount,
      </if>
      <if test="conduitsmscount != null" >
        conduitSmsCount,
      </if>
      <if test="conduiterrorcount != null" >
        conduitErrorCount,
      </if>
      <if test="rediserror != null" >
        redisError,
      </if>
      <if test="mysqlerror != null" >
        mysqlError,
      </if>
      <if test="syserror != null" >
        sysError,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="clientsmscount != null" >
        #{clientsmscount,jdbcType=INTEGER},
      </if>
      <if test="clienterrorcount != null" >
        #{clienterrorcount,jdbcType=INTEGER},
      </if>
      <if test="conduitsmscount != null" >
        #{conduitsmscount,jdbcType=INTEGER},
      </if>
      <if test="conduiterrorcount != null" >
        #{conduiterrorcount,jdbcType=INTEGER},
      </if>
      <if test="rediserror != null" >
        #{rediserror,jdbcType=INTEGER},
      </if>
      <if test="mysqlerror != null" >
        #{mysqlerror,jdbcType=INTEGER},
      </if>
      <if test="syserror != null" >
        #{syserror,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxjr.message.model.LogSysStatistics" >
    update log_sysstatistics
    <set >
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="clientsmscount != null" >
        clientSmsCount = #{clientsmscount,jdbcType=INTEGER},
      </if>
      <if test="clienterrorcount != null" >
        clientErrorCount = #{clienterrorcount,jdbcType=INTEGER},
      </if>
      <if test="conduitsmscount != null" >
        conduitSmsCount = #{conduitsmscount,jdbcType=INTEGER},
      </if>
      <if test="conduiterrorcount != null" >
        conduitErrorCount = #{conduiterrorcount,jdbcType=INTEGER},
      </if>
      <if test="rediserror != null" >
        redisError = #{rediserror,jdbcType=INTEGER},
      </if>
      <if test="mysqlerror != null" >
        mysqlError = #{mysqlerror,jdbcType=INTEGER},
      </if>
      <if test="syserror != null" >
        sysError = #{syserror,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxjr.message.model.LogSysStatistics" >
    update log_sysstatistics
    set startDate = #{startdate,jdbcType=TIMESTAMP},
      endDate = #{enddate,jdbcType=TIMESTAMP},
      clientSmsCount = #{clientsmscount,jdbcType=INTEGER},
      clientErrorCount = #{clienterrorcount,jdbcType=INTEGER},
      conduitSmsCount = #{conduitsmscount,jdbcType=INTEGER},
      conduitErrorCount = #{conduiterrorcount,jdbcType=INTEGER},
      redisError = #{rediserror,jdbcType=INTEGER},
      mysqlError = #{mysqlerror,jdbcType=INTEGER},
      sysError = #{syserror,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>