<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxjr.app.conduit.mapper.ConduitMapper">
    <insert id="save" parameterType="com.sxjr.app.conduit.mapper.ConduitMapper" useGeneratedKeys="true" keyProperty="id">  
        insert into sms_conduit
        (
	        name,
	        conduitId,
	        account,
	        password,
	        isLong,
	        isBulk,
	        phoneTimeSpan,
	        phoneMaxCount,
	        maxLength,
	        priority,
	        createDate,
	        createBy,
	        state
        ) 
        values 
        (
	        #{name},
	        #{conduitId},
	        #{account},
	        #{password},
	        #{isLong},
	        #{isBulk},
	        #{phoneTimeSpan},
	        #{phoneMaxCount},
	        #{maxLength},
	        #{priority},
	        #{createDate},
	        #{createBy},
	        #{state}
        )  
    </insert>
    <select id="list" resultType="com.sxjr.app.model.SmsConduit">  
        select
        id,
        conduitId,
        name,
        account,
        password,
        isLong,
        isBulk,
        phoneTimeSpan,
        phoneMaxCount,
        maxLength,
        priority,
        state
        from sms_conduit  
    </select>
    <select id="findOne" resultType="com.sxjr.app.model.SmsConduit">  
        select
        id,
        conduitId,
        name,
        account,
        password,
        isLong,
        isBulk,
        phoneTimeSpan,
        phoneMaxCount,
        maxLength,
        priority
        from sms_conduit
        where id = #{id}  
    </select>
    <update id="update" parameterType="com.sxjr.app.model.SmsConduit">
		 update sms_conduit
			 <set>
			  <if test="name!=null and name!='' ">
			   sms_conduit.name = #{name},
			  </if>
			  <if test="account!=null and account!='' ">
			   sms_conduit.account = #{account},
			  </if>
			  <if test="password!=null and password!='' ">
			   sms_conduit.password = #{password},
			  </if>
			  <if test="isLong!=null and isLong!='' ">
			   sms_conduit.isLong = #{isLong},
			  </if>
			  <if test="isBulk!=null and isBulk!='' ">
			   sms_conduit.isBulk = #{isBulk},
			  </if>
			  <if test="phoneTimeSpan!=null and phoneTimeSpan!='' ">
			   sms_conduit.phoneTimeSpan = #{phoneTimeSpan},
			  </if>
			  <if test="phoneMaxCount!=null and phoneMaxCount!='' ">
			   sms_conduit.phoneMaxCount = #{phoneMaxCount},
			  </if>
			  <if test="maxLength!=null and maxLength!='' ">
			   sms_conduit.maxLength = #{maxLength},
			  </if>
			  <if test="priority!=null and priority!='' ">
			   sms_conduit.priority = #{priority},
			  </if>
			  <if test="updateBy!=null and updateBy!='' ">
			   sms_conduit.updateBy = #{updateBy},
			  </if>
			  <if test="updateDate!=null">
			   sms_conduit.updateDate = #{updateDate},
			  </if>
			 </set>
		 where sms_conduit.id = #{id};
	</update>
	<delete id="delete" parameterType="com.sxjr.app.model.SmsConduit">
		 delete from sms_conduit
		 where id = #{id};
	</delete>
	<select id="findByConduitId" resultType="com.sxjr.app.model.SmsConduit">  
        select
        id,
        conduitId
        from sms_conduit
        where conduitId = #{conduitId}  
    </select>
    <update id="updateStateById" parameterType="com.sxjr.app.model.SmsConduit">
		 update sms_conduit
			 <set>
			  <if test="state!=null and state!='' ">
			   sms_conduit.state = #{state},
			  </if>
			 </set>
		 where sms_conduit.id = #{id};
	</update>
	<update id="updateConduit" parameterType="com.sxjr.app.model.SmsConduit">
		 update sms_conduit
			 <set>
			  <if test="state!=null and state!='' ">
			   sms_conduit.state = #{state},
			  </if>
			 </set>
		 where sms_conduit.conduitId = #{conduitId};
	</update>
</mapper>