<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxjr.app.conduit.mapper.ConduitMapper">
    <insert id="save" parameterType="com.sxjr.app.conduit.mapper.ConduitMapper" useGeneratedKeys="true" keyProperty="id">  
        insert into sms_conduit
        (
	        name,
	        conduitId,
	        account,
	        password,
	        isLong,
	        isBulk,
	        PhoneTimeSpan,
	        PhoneMaxCount,
	        MaxLength,
	        priority,
	        createDate,
	        createBy,
	        state
        ) 
        values 
        (
	        #{name},
	        #{conduitId},
	        #{account},
	        #{password},
	        #{isLong},
	        #{isBulk},
	        #{PhoneTimeSpan},
	        #{PhoneMaxCount},
	        #{MaxLength},
	        #{priority},
	        #{createDate},
	        #{createBy},
	        #{state}
        )  
    </insert>
    <select id="list" resultType="org.sxjr.message.inerface.model.SmsConduit">  
        select
        id,
        conduitId,
        name,
        account,
        password,
        isLong,
        isBulk,
        PhoneTimeSpan,
        PhoneMaxCount,
        MaxLength,
        priority,
        state
        from sms_conduit  
    </select>
    <select id="findOne" resultType="org.sxjr.message.inerface.model.SmsConduit">  
        select
        id,
        conduitId,
        name,
        account,
        password,
        isLong,
        isBulk,
        PhoneTimeSpan,
        PhoneMaxCount,
        MaxLength,
        priority
        from sms_conduit
        where id = #{id}  
    </select>
    <update id="update" parameterType="org.sxjr.message.inerface.model.SmsConduit">
		 update sms_conduit
			 <set>
			  <if test="name!=null and name!='' ">
			   sms_conduit.name = #{name},
			  </if>
			  <if test="account!=null and account!='' ">
			   sms_conduit.account = #{account},
			  </if>
			  <if test="password!=null and password!='' ">
			   sms_conduit.password = #{password},
			  </if>
			  <if test="isLong!=null and isLong!='' ">
			   sms_conduit.isLong = #{isLong},
			  </if>
			  <if test="isBulk!=null and isBulk!='' ">
			   sms_conduit.isBulk = #{isBulk},
			  </if>
			  <if test="PhoneTimeSpan!=null and PhoneTimeSpan!='' ">
			   sms_conduit.PhoneTimeSpan = #{PhoneTimeSpan},
			  </if>
			  <if test="PhoneMaxCount!=null and PhoneMaxCount!='' ">
			   sms_conduit.PhoneMaxCount = #{PhoneMaxCount},
			  </if>
			  <if test="MaxLength!=null and MaxLength!='' ">
			   sms_conduit.MaxLength = #{MaxLength},
			  </if>
			  <if test="priority!=null and priority!='' ">
			   sms_conduit.priority = #{priority},
			  </if>
			  <if test="updateBy!=null and updateBy!='' ">
			   sms_conduit.update_by = #{updateBy},
			  </if>
			  <if test="updateDate!=null and updateDate!='' ">
			   sms_conduit.update_date = #{updateDate},
			  </if>
			 </set>
		 where sms_conduit.id = #{id};
	</update>
	<delete id="delete" parameterType="org.sxjr.message.inerface.model.SmsConduit">
		 delete from sms_conduit
		 where id = #{id};
	</delete>
	<select id="findByConduitId" resultType="org.sxjr.message.inerface.model.SmsConduit">  
        select
        id,
        conduitId
        from sms_conduit
        where conduitId = #{conduitId}  
    </select>
    <update id="updateStateById" parameterType="org.sxjr.message.inerface.model.SmsConduit">
		 update sms_conduit
			 <set>
			  <if test="state!=null and state!='' ">
			   sms_conduit.state = #{state},
			  </if>
			 </set>
		 where sms_conduit.id = #{id};
	</update>
</mapper>