<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxjr.app.msgmodel.mapper.MsgModelMapper">
    <insert id="save" parameterType="com.sxjr.app.msgmodel.entity.SmsTemplate" useGeneratedKeys="true" keyProperty="id">  
        insert into msg_model
        (
        model_id,
        content,
        enable,
        create_date,
        create_by,
        update_date
        ) 
        values 
        (
        #{modelId},
        #{content},
        #{enable},
        #{createDate},
        #{createBy},
        #{updateDate}
        )  
    </insert>
    <select id="list" resultType="com.sxjr.app.msgmodel.entity.SmsTemplate">  
        select
        id,
        content,
        state,
        createDate,
        updateDate,
        createBy
        from sms_template  
    </select>
    <select id="findOne" resultType="com.sxjr.app.msgmodel.entity.SmsTemplate">  
        select
        id,
        content,
        state
        from sms_template
        where id = #{id}  
    </select> 
    <update id="update" parameterType="com.sxjr.app.msgmodel.entity.SmsTemplate">
	 update sms_template
		 <set>
		  <if test="content!=null and content!='' ">
		   sms_template.content = #{content},
		  </if>
		  <if test="state!=null and state!='' ">
		   sms_template.state = #{state},
		  </if>
		  <if test="updateDate!=null and updateDate!='' ">
		   sms_template.updateDate = #{updateDate},
		  </if>
		 </set>
	 where sms_template.id = #{id};
	</update>
	<delete id="delete" parameterType="com.sxjr.app.msgmodel.entity.SmsTemplate">
		 delete from sms_template
		 where id = #{id};
	</delete>
</mapper>