<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxjr.app.msgmanage.mapper.TbSmsManageMapper">
	
    <insert id="save" parameterType="com.sxjr.app.msgmanage.entity.SmClientInfo" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO sms_client(name,
    								 assessToken,
    								 assessSecret,
    								 state,
    								 ipList
    								)
    						  values(#{name},
    						  		 #{assessToken},
    						  		 #{assessSecret},
    						  		 #{state},
    						  		 #{ipList}
    						  		)
    </insert>
    <select id="list" resultType="com.sxjr.app.msgmanage.entity.SmClientInfo">
    	SELECT id,
    		   name,
    		   assessToken,
    		   assessSecret,
    		   state,
    		   ipList,
    		   createDate,
    		   updateDate
		FROM sms_client
    </select>
     <select id="selectbyid" resultType="com.sxjr.app.msgmanage.entity.SmClientInfo">
    	SELECT id,
    		   name,
    		   assessToken,
    		   assessSecret,
    		   state,
    		   ipList,
    		   createDate,
    		   updateDate
		FROM sms_client WHERE id=#{id}
    </select>
    <update id="update" parameterType="com.sxjr.app.msgmanage.entity.SmClientInfo">
    	UPDATE sms_client
    		<set>
    			<if test="name!=null">name=#{name},</if>
    			<if test="state!=null">state=#{state},ipList=#{ipList}</if>
    		</set>
    		WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="com.sxjr.app.msgmanage.entity.SmClientInfo">
    	DELETE FROM sms_client WHERE id=#{id}
    </delete>
</mapper>