<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxjrmsg.app.msgmodel.mapper.MsgModelMapper">
    <insert id="save" parameterType="com.sxjrmsg.app.msgmodel.entity.MsgModel" useGeneratedKeys="true" keyProperty="id">  
        insert into msg_model
        (
        content,
        enable,
        create_date
        ) 
        values 
        (
        #{content},
        #{enable},
        #{createDate}
        )  
    </insert>
    <select id="list" resultType="com.sxjrmsg.app.msgmodel.entity.MsgModel">  
        select
        id,
        content,
        enable,
        create_date as createDate
        from msg_model  
    </select>
    <select id="findOne" resultType="com.sxjrmsg.app.msgmodel.entity.MsgModel">  
        select
        id,
        content,
        enable
        from msg_model
        where id = #{id}  
    </select> 
    <update id="update" parameterType="com.sxjrmsg.app.msgmodel.entity.MsgModel">
	 update msg_model
		 <set>
		  <if test="content!=null and content!='' ">
		   msg_model.content = #{content},
		  </if>
		 </set>
	 where msg_model.id = #{id};
	</update>
	<delete id="delete" parameterType="com.sxjrmsg.app.msgmodel.entity.MsgModel">
		 delete from msg_model
		 where id = #{id};
	</delete>
</mapper>