<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxjr.app.msgmanage.mapper.TbSmsManageMapper">
	
    <insert id="save" parameterType="com.sxjr.app.msgmanage.entity.SmClientInfo" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO tb_smsclient(name,
    								 assessToken,
    								 assessSecret,
    								 state,
    								 IPList
    								)
    						  values(#{name},
    						  		 #{assessToken},
    						  		 #{assessSecret},
    						  		 #{state},
    						  		 #{IPList}
    						  		)
    </insert>
</mapper>