<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxjr.app.msgmanage.mapper.TbSmsManageMapper">
	
    <insert id="save" parameterType="com.sxjr.app.msgmanage.entity.SmClientInfo" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO tb_smsclient(name,
    								 assessToken,
    								 assessSecret,
    								 status,
    								 IPList
    								)
    						  values(#{name},
    						  		 #{assessToken},
    						  		 #{assessSecret},
    						  		 #{status},
    						  		 #{IPList}
    						  		)
    </insert>
    <select id="list" resultType="com.sxjr.app.msgmanage.entity.SmClientInfo">
    	SELECT id,
    		   name,
    		   assessToken,
    		   assessSecret,
    		   status,
    		   IPList,
    		   createDate,
    		   updateDate
		FROM tb_smsclient
    </select>
    <update id="update" parameterType="com.sxjr.app.msgmanage.entity.SmClientInfo">
    	UPDATE tb_smsclient
    		<set>
    			<if test="name!=null">name=#{name},</if>
    			<if test="status!=null">status=#{status}</if>
    		</set>
    		WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="com.sxjr.app.msgmanage.entity.SmClientInfo">
    	DELETE FROM tb_smsclient WHERE id=#{id}
    </delete>
</mapper>